<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="colorFondo">

            <img src="imagenes/logoMercadoLiebre.svg" alt="logo">
          
            <form action="" method="get">
                <input
                  type="text"
                  name=""
                  id=""
                  placeholder="Buscar productos, marcas"
                />
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>

            <p><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito</p>
            <div class="item">
                <ul>
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
            </div>
            <div class="item">
                <ul>
                    <li><a href="">Crea tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
                    <li><a href="">Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
                    <li><a href="">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
                </ul>
            </div>    
                <div class="burger-menu"><i class="fas fa-bars"></i></div>
        </nav>
        <div class="banner"><img src="imagenes/img-home-banner.jpg" alt="banner"></div>
    </header>

    <main>
        <form action="/" method="get">
           
            <input type="text" name="usuario" placeholder="Nobre de usuario">

            <input type="password" name="" placeholder="Elegi tu contraseña">

            <button type="submit">Enviar</button>

        </form>
        
    </main>

    <footer>
        <div class="seccion">
        <i class="fa-solid fa-credit-card"></i>
        <h2>Pagá con tarjeta o en efectivo</h2>   
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="seccion">
        <i class="fa-solid fa-gift"></i>
        <h2>Envío gratis desde $ 2.500</h2>   
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="seccion">
        <i class="fa-solid fa-user-shield"></i>
        <h2>Seguridad, de principio a fin</h2>   
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>